.gameCell {
  border: 1px solid #303030;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  width: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #303030;
  user-select: none;
}

.gameCellWrong {
  background-image: url('/cellWrong.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gameCell:hover {
  opacity: 0.8;
}

.gameCellColor1 {
  background-color: #bba3e2;
}

.gameCellColor2 {
  background-color: #ffc992;
}

.gameCellColor3 {
  background-color: #96beff;
}

.gameCellColor4 {
  background-color: #b3dfa0;
}

.gameCellColor5 {
  background-color: #dfdfdf;
}

.gameCellColor6 {
  background-color: #dfa0bf;
}

.gameCellColor7 {
  background-color: #6a7bf0;
}

.gameCellColor8 {
  background-color: #ff7b60;
}

.gameCellColor9 {
  background-color: #e6f388;
}

.gameCellColor10 {
  background-color: #b9b29e;
}

.gameCellColor11 {
  background-color: #62efea;
}

.gameCellColor12 {
  background-color: #ff93f3;
}

.gameCellColor13 {
  background-color: #8acc6d;
}

.gameCellColor14 {
  background-color: #729aec;
}

.gameCellColor15 {
  background-color: #c387e0;
}

.gameCellColor16 {
  background-color: #ffe04b;
}

.wideBorderTop {
  border-top-width: 3px;
}

.wideBorderRight {
  border-right-width: 3px;
}

.wideBorderBottom {
  border-bottom-width: 3px;
}

.gameCell:first-child {
  border-left-width: 3px;
}