.gameRule {
  padding: 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.gameRule ul {
  list-style-type: disc;
  list-style-position: outside;
}

.gameRule ul > li {
  margin-left: 1em;
}