.gameBoard {
  margin: 16px 0;
  position: relative;
}

.gameBoardRow {
  display: flex;
  justify-content: center;
}

.gameBoardRow:first-child > .gameCell {
  border-top-width: 1px;
}

.gameCell:first-child {
  border-left-width: 1px;
}

.gameCell {
  border-style: solid;
  border-right-width: 1px;
  border-bottom-width: 1px;
  width: 10%;
  aspect-ratio: 1 / 1;
}

.pausedGameBoard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}