.settingsDropdown {
  position: relative;
}

.cogIcon {
  display: inline-block;
  width: 24px;
  height: 22px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.dropdownList {
  position: absolute;
  top: 32px;
  z-index: 20;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  width: 300px;
  max-width: 80vw;
}

.dropdownItemLabel {
  display: inline-block;
  padding: 8px 4px;
  width: 100%;
  cursor: pointer;
}

.dropdownItemCheckbox {
  position: relative;
  z-index: -1;
}

.hide {
  /* display: none; */
  width: 80px;
}

@media (prefers-color-scheme: light) {
  .cogIcon {
    background-image: url('/cog-light.svg');
  }

  .dropdownList {
    background-color: #ffffff;
  }

  .dropdownItemLabel:hover {
    background-color: rgba(16, 16, 16, 0.1);
  }
}

@media (prefers-color-scheme: dark) {
  .cogIcon {
    background-image: url('/cog-dark.svg');
  }

  .dropdownList {
    background-color: #303030;
  }

  .dropdownItemLabel:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}