:root {
  color-scheme: light dark;
  font-family: Helvetica, Arial, system-ui, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
}

ul > li {
  margin-left: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #303030;
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #303030;
  }
}