:root {
  color-scheme: light dark;
  font-family: Helvetica, Arial, system-ui, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

button {
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 12px;
  border: none;
}

button:disabled {
  color: rgba(16, 16, 16, 0.3);
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #303030;
    background-color: #ffffff;
  }

  button {
    color: #303030;
    background-color: #c0c0c0;
  }

  button:hover {
    filter: brightness(0.8);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #303030;
  }

  button {
    color: #ffffff;
    background-color: #727272;
  }

  button:hover {
    filter: brightness(1.2);
  }
}